@font-face {
    font-family: "Flexo-Demi";
    src: url("/fonts/285B7A_4_0.woff") format("woff");
}
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

h1 {
    text-align: center;
}

.pokegrid {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.pokeitem {
    width: 80%;
    margin-bottom: 5%;
}

.pokeimage-container {
    text-align: center;
    margin: auto;

    background: #e8e8e8;
    border-radius: 5px;
}
.pokeimage-container img {
    width: 100%;
}

.pokeinfo {
    margin-left: 5%;
}

.pokelink {
    color: black;
    text-decoration: none;
}
.pokename {
    font-size: 23px;
    font-family: "Flexo-Demi",arial,sans-serif;
    text-transform: capitalize;
}

.pokeid:before {
    content: '#';
}

.pokeid {
    color: gray;
    font-family: "Flexo-Demi", arial, sans-serif;
    font-weight: bold;
}

.button {
    background-color: #1393af;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: auto;
    width: 10%;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

#loader {
    alignment: center;
}